/*

**/.*
**/.**
!.gitignore
!.github
*.log
*.bak

**/docs/**/
!**/docs/vecq
!**/docs/specs
!**/src/docs

**/__pycache__/
**/target/
**/external/
**/out/

!README.md
!Cargo.lock
!Cargo.toml
!LICENSE
!requirements.txt
!docs
!docsize
!examples
!install.sh
!schemas
!tests
!vecdb-cli/
!vecdb-common/
!vecdb-core
!vecdb-server
!vecdb-asm
!vecq
!assets