/*

**/.*
**/.**
!.gitignore
!.github
*.log
*.bak

**/docs/**/
!**/docs/vecq

**/__pycache__/
target/
**/external/
**/out/
scripts/


!README.md
!Cargo.lock
!Cargo.toml
!LICENSE
!requirements.txt
!docs
!docsize
!examples
!schemas
!tests
!vecdb-cli/
!vecdb-common/
!vecdb-core
!vecdb-server
!vecq